<%- include('partials/header') -%>

        <div class="container card-container mt-5">
            <h1 class="cata-name">Exercises</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% for(var i=0; i<exercise.length; i++) {%>
                    <div class="col">
                        <div class="card h-100">
                            <img src="<%= exercise[i].image%>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title h3">
                                    <%= exercise[i].name%>
                                </h5>
                                <p class="card-text"><small class="text-muted">By: <%= exercise[i].user%></small></p>
                                <p class="card-text">
                                    <%= exercise[i].notes %>
                                </p>
                                <a href="/exercise/<%= exercise[i]._id%>" class="btn btn-outline-primary">See Details</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    <!-- <%- include('partials/footer') -%> -->