<%- include('partials/header') -%>
<div class="container card-container">
    <div class="row mt-5">
        <div class="col-6">
            <div>
                <p><strong>User Name</strong>: <%= user.userName %>
                </p>
                <!-- <p><strong>Email</strong>: <%= user.email %>
                </p> -->
                <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
            </div>
            <div class="mt-5">
                <h2>Edit Exercise</h2>
                <form action="/exercise/editExercise/<%= exercise.id %>?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= exercise.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        <textarea class="form-control" id="notes" name="notes" value="<%= exercise.notes %>"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="instructions" class="form-label">Instructions</label>
                        <textarea class="form-control" id="instructions" name="instructions" value="<%= exercise.instructions %>"></textarea>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="imgUpload" class="form-label">Image</label>
                        <input type="file" class="form-control" id="imageUpload" name="file" value="<%= exercise.image %>">
                    </div> -->
                    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                </form>
            </div>
        </div>    

        <div class="col-6">
            <div class="mt-5 edit-space">
                <!-- <h2>
                    <%= exercise.name %>
                </h2> -->
                <p> Notes: 
                    <%= exercise.notes %>
                </p>
                <div class="col-6">
                    <img class="img-fluid" src="<%= exercise.image%>" />   
                </div>
            </div>  
        </div>
        
    </div>
</div>
</div>